@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

.ping {
    align-items: center;
    height: 100%;
    justify-content: center;
    display: flex;
    padding-top: 3vw;
}

.launch {
    font-size: 3vw;
}

.gray {
    color: hsl(0, 0%, 59%);
}

.libre {
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.libre600 {
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.soon {
    font-size: 3vw;
    color: black;
}

.center {
    align-items: center;
    justify-content: center;
    height: 100%;
    display: flex;
}

.launchsoon {
    padding-top: 2vw;
}

.mobileimage {
    width: 2vw;
}

.Sub {
    padding-top: 1vw;
    padding-bottom: 2vw;
}

.subscribe {
    font-size: 1.3vw;
}

.inline {
    display: flex;
    align-items: normal;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 600px) {
        /* screen less that 600px */
        height: 100%;
        padding-top: 3vw;
        flex-direction: column;
    }
}

.email,
.notify {
    flex-grow: 0;
    padding-right: 1vw;

    @media only screen and (max-width: 600px) {
        padding: 2vw;
    }
}

.textInput {
    border-radius: 2vw;
    border-color: hsl(223, 100%, 88%);
    border-width: 1px;
    height: 3vw;
}

button {
    color: white;
    background: hsl(223, 87%, 63%);
    border-color: transparent;
    height: 3vw;
    border-radius: 2vw;
    font-size: 1vw;
    width: 10vw;
    box-shadow: 0 1px 4px 0 hsl(223, 87%, 63%);

    @media only screen and (max-width: 600px) {
        width: 50vw;
        border-radius: 4vw;
    }
}

.dashboard {
    width: 40%;
    padding-top: 5%;
}

.copyright {
    padding-top: 2vw;
    color: hsl(0, 0%, 59%);
    padding-bottom: 1vw;
}

button {
    cursor: pointer;
}

.error-message {
    color: red;
    font-size: 0.9rem;
    visibility: hidden;
    margin-top: 5px;
}

.emailinput {
    width: 25vw;

    @media only screen and (max-width: 600px) {
        width: 75vw;
        padding: none;
        border-radius: 4vw;
        font-size: 3vw;
    }
}

.buttoninput {
    width: 12vw;

    @media only screen and (max-width: 600px) {
        width: 80vw;
        padding: none;
        height: 7vw;
        font-size: 2vw;
    }
}